staff-dashboard/target/classes/saveRejectReason.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="saveRejectReason">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="param" value="#[payload]" doc:name="Variable"/>
        <set-variable variableName="Appcation_ID" value="#[flowVars.param.Appcation_ID]" doc:name="Appcation_ID"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="insert">
            <db:parameterized-query><![CDATA[${reject.insertRejectReason}]]></db:parameterized-query>
        </db:insert>
        <choice doc:name="Choice">
            <when expression="payload&gt;0">
                <db:update config-ref="MySQL_Configuration" doc:name="update">
                    <db:parameterized-query><![CDATA[${reject.updateApplicationStatus}]]></db:parameterized-query>
                </db:update>
                <set-payload value="{&quot;msg&quot;:&quot;success&quot;}" doc:name="success"/>
            </when>
            <otherwise>
                <set-payload value="{&quot;msg&quot;:&quot;fail&quot;}" doc:name="fail"/>
            </otherwise>
        </choice>
    </flow>
</mule>
