staff-dashboard/src/main/app/login.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="login">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <set-variable doc:name="Name" value="#[payload.userName]" variableName="name"/>
        <set-variable doc:name="Password" value="#[payload.password]" variableName="password"/>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[${sql.login}]]></db:parameterized-query>
        </db:select>
        <logger level="INFO" doc:name="Logger" message="#[payload[0].'COUNT(*)']"/>
        <choice doc:name="Choice">
            <when expression="payload[0].'COUNT(*)'&gt;0">
                <db:select config-ref="MySQL_Configuration" doc:name="Database">
                    <db:parameterized-query><![CDATA[${sql.selectRoleIdRoleName}]]></db:parameterized-query>
                </db:select>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	roleId:payload[0].role_id,
	roleName:payload[0].role_name
}]]></dw:set-payload>
                </dw:transform-message>
                <set-payload value="#[payload]" doc:name="Success"/>
            </when>
            <otherwise>
                <set-payload value="{&quot;status&quot;:false}" doc:name="Fail"/>
            </otherwise>
        </choice>

    </flow>
</mule>
