staff-dashboard/src/main/app/progressFilter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="progressFilter">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="params" value="#[payload]" doc:name="InputParams"/>
        <choice doc:name="Choose By Role">
            <when expression="flowVars.params.roleName=='BBC CM/TH'">
                <flow-ref name="filter_bbc_cm" doc:name="filter_bbc_cm"/>
            </when>
            <when expression="flowVars.params.roleName=='CCC TH'">
                <flow-ref name="filter_ccc_th" doc:name="filter_ccc_th"/>
            </when>
            <when expression="flowVars.params.roleName=='BA Lead'">
                <flow-ref name="filter_ba_lead" doc:name="filter_ba_lead"/>
            </when>

                    <otherwise>
                <set-payload value="{&quot;ErrorMsg&quot;:&quot;Wrong Role Login On&quot;}" doc:name="Set Payload"/>

                    </otherwise>
                </choice>
        <set-variable variableName="finalResult" value="#[payload]" doc:name="FinalResult"/>
        <db:delete config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[DELETE FROM cos_tempmapping]]></db:parameterized-query>
        </db:delete>

        <set-payload value="#[flowVars.finalResult]" doc:name="Set Payload"/>

    </flow>
</mule>
