staff-dashboard/src/main/app/saveAssignAgent.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <flow name="saveAssignAgent">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="globalVar" value="#[payload]" doc:name="payload"/>
        <set-variable variableName="staffId" value="#[flowVars.globalVar.staffId]" doc:name="Variable"/>
        <logger message="#[flowVars.staffId]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="flowVars.staffId!=null">
                <db:select config-ref="MySQL_Configuration" doc:name="Database">
                    <db:parameterized-query><![CDATA[${sql.selectStaffNameById}]]></db:parameterized-query>
                </db:select>
                <set-variable variableName="staffName" value="#[payload[0].staff_name]" doc:name="Variable"/>
                <logger message="#[flowVars.staffName]" level="INFO" doc:name="Logger"/>
                <foreach collection="#[flowVars.globalVar]" doc:name="For Each">
                    <set-variable variableName="application_id" value="#[flowVars.globalVar.inboxAppList[counter-1].Application_ID]" doc:name="Variable"/>
                    <db:update config-ref="MySQL_Configuration" doc:name="Database">
                        <db:parameterized-query><![CDATA[${sql.updateApplicationStatus}]]></db:parameterized-query>
                    </db:update>
                </foreach>
                <set-payload value="{
	&quot;status&quot;:&quot;success&quot;
}" doc:name="Success"/>
            </when>
            <otherwise>
                <set-payload value="{&quot;status&quot;:&quot;fail&quot; }"   doc:name="Fail"/>
            </otherwise>
        </choice>
    </flow>
</mule>
